@charset "utf-8"; @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);/* reset */
html { min-height:100%; line-height:1.35; font-family:'Noto Sans KR','Sans-serif'; overflow-y:auto; -webkit-text-size-adjust:none; } 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { line-height:inherit; margin:0; padding:0; border:0; font-family:'Noto Sans KR','Sans-serif'; vertical-align:baseline; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; } 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; } 
body { width:100%; min-height:100%; color:#000; } 
ol, ul { list-style:none; } 
blockquote, q { quotes:none; } 
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } 
table { padding:0; border:0; border-spacing:0; border-collapse:collapse; } 
th, td { padding:0; } 
select, input, textarea, button { margin:0; padding:0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; outline:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; font-family:inherit; vertical-align:middle; } 
input, button { background:transparent; -webkit-border-radius:0; -webkit-appearance:none; } 
input[type='button'], button, select { cursor:pointer; } 
select { -o-appearance:none; -moz-appearance:none; -webkit-appearance:none; appearance:none; } 
select::-ms-expand { display:none; } 
textarea { padding:0; background:transparent; border:0; overflow-y:scroll; resize:none; } 
a { background:transparent; text-decoration:none; color:#000; outline:0; } 

/* index */
* { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; } 
html{ height:100%; }
body{ height:100%; }
.wrap { width:100%; height:auto; background-color:#fff; display:flex; flex-direction:column; justify-content:center; align-items:center; } 
.wrap h2{ font-size:28px; font-weight:600; }
.wrap ul{ margin-top:20px; text-align: center; }
.wrap ul li{ margin:10px 20px; padding:10px 20px; border:1px solid #000; border-radius:8px; }
.wrap ul li h3{ font-size:20px; margin-bottom:10px; }
.wrap ul li.color{ background-color:rgba(139, 0, 139, 0.171); }

